.nav-bar {
	--grey-color: #888888;

	display: flex;
	background-color: #222222;
	align-items: center;
	padding: 0.5em var(--horizontal-padding);
}

.nav-bar__heading-prefix {
	margin: 0;
	color: var(--grey-color);
	font-weight: normal;
}

.nav-bar__heading-suffix {
	margin: 0;
	color: white;
}

.nav-bar__subheading {
	color: var(--grey-color);
	margin: 0 1.5em;
	color: grey;
	font-size: small;
}
